@font-face {
    font-family: yekan bakh;
    font-style: normal;
    font-weight: 400;
    src: url("font/YekanBakh-Regular.woff") format("woff"), url("font/YekanBakh-Regular.woff2") format("woff2"),
        url("font/YekanBakh-Regular.ttf") format("ttf");
}

@font-face {
    font-family: yekan bakh;
    font-style: normal;
    font-weight: 950;
    src: url("font/YekanBakh-Black.woff") format("woff"), url("font/YekanBakh-Black.woff2") format("woff2"),
        url("font/YekanBakh-Black.ttf") format("ttf");
}

@font-face {
    font-family: yekan bakh;
    font-style: normal;
    font-weight: 100;
    src: url("font/YekanBakh-Light.woff") format("woff"), url("font/YekanBakh-Light.woff2") format("woff2"),
        url("font/YekanBakh-Light.ttf") format("ttf");
}

@font-face {
    font-family: yekan bakh;
    font-style: normal;
    font-weight: 700;
    src: url("font/YekanBakh-SemiBold.woff") format("woff"), url("font/YekanBakh-SemiBold.woff2") format("woff2"),
        url("font/YekanBakh-SemiBold.ttf") format("ttf");
}

* {
    direction: rtl;
    font-family: yekan bakh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #001215;
    background-image: url('./image/Switch.svg');
    padding: 4.5rem 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}
.header-title {
    font-size: 2.5rem;
}
.button-text {
    font-size: 0.87rem;
    font-weight: 700;
    color: #005B5B;
}

.line {
    border-right: 1px dashed #F1F1F5;
    z-index: -2;
}
.line-left {
    border-left: 1px dashed #F1F1F5;
}
.main-body {
    top: 31.25rem;
}
.use-case-text {
    font-size: 1.12rem;
    color: #008C8C;
    font-weight: 700;
}

.feature-need-text {
    font-weight: 700;
    font-size: 2.5rem;
}
.item {
    font-size: 1.12rem;
    font-weight: 700;
    color: #566E88;
}
.items {
    border-bottom: 1px dashed #D1DBE8;
}
.online-shop {
    color: #00A7A7;
    font-weight: 800;
    border-bottom: 2px solid #D1DBE8;
    margin-bottom: -2px;
    position: relative;
}
.online-shop::after {
    position: absolute;
    top: 5.62rem;
    right: 0;
    content: "";
    height: 3px;
    width: 33%;
    background-color: #008C8C;
}
.main-description {
    font-size: 1.12rem;
    font-weight: 500;
    letter-spacing: 0.36px;
    color: #566E88;
}
.item-svg {
    color: #00A7A7;
}
.item-text {
    font-size: 1rem;
    color: #253343;
    font-weight: 700;
}
.online-shopping {
    border-right: 2px solid #008C8C;
    color: #008C8C;
    font-size: 1rem;
    font-weight: 700;
}

.footer {
    width: 100%;
    height:787px;
 background-image: linear-gradient(to bottom left,#042222,#062b2b,#0a5858,#107777);
 color: #025858;
}
.send-request {
    margin-top: 8rem;
}
.send-request-headline {
    color: #40CDCD;
    font-size: 1.12rem;
    font-weight: 700;
}
.send-request-title {
    color: white;
    font-size: 2.37rem;
}
.send-request-text{
    color: #D1DBE8;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
    margin-top: 2rem;
    letter-spacing: 0.08px;
}
.form{
    margin-top: 170px;
}
.form-text-lable {
    font-size: 0.75rem;
    font-weight: 500;
}
.form-text-input::placeholder {
    font-size: 1.02rem;
    color: #089191;
  }
  
.form-text-input{
    border: 1px solid #08a5a5;
    background-color: #015050;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}
.form-textarea {
    resize: none;
    width: 100%;
    height: 8.12rem;
}

.contact-sales {
    background-color: transparent;
}

.responsive-item {
    border: 5px solid #008C8C;
    margin-bottom: 12px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 700;
}
.responsive-online-shop {
    background-image: linear-gradient(to left , #00BABA, #002437);
}

.responsive-item:hover{
    background-image: linear-gradient(to left , #00BABA, #002437) ;
    color: white;
}